*{margin:0; padding:0;}
li{list-style:none;}
a{display:block; /*인라인요소->블록요소*/
  text-decoration:none; color:#333;}
img{width:100%;}
body{background-color:#fff0d9;}
.wrap{width:100%;}
header{
    width:100%;
    height:120px;
    float:left;
    z-index:100;
    position:relative;
    /*z-index는 반드시 position과 함께 기술*/
}
header .header_wrap{
    width:1740px;
    height:120px;
    margin:0 auto;
}
header .top_area{
    width:1740px;
    height:40px;
}
header .top_area p{
    font-size:11px;
    padding:10px;/*안쪽여백*/
}
header .logo{
    width:200px;
    float:left;
}
header nav{
    float:left;
    margin-left:300px;/*왼쪽여백*/
    margin-top:15px;/*위쪽여백*/
}
/*주메뉴*/
header nav > ul > li{
    float:left;
}
header nav > ul > li > a{
    padding:5px 40px;
    font-size:15px;
    font-weight:bold;
}
header nav > ul > li:hover > a{
    color:#faa21a;
}
/*서브메뉴*/
header nav .sub{
    border-top:3px solid #faa21a;
    display:none;
    background-color:rgba(0,0,0,0.6) 
}
header nav .sub li:first-child{
    margin-top:20px;
    /*첫번째 서브메뉴의 위쪽 여백*/
}
header nav .sub li:last-child{
    padding-bottom:20px;
    /*첫번째 서브메뉴의 아래쪽 여백*/
}
header nav .sub li a{
    font-size:12px;
    padding:10px;
    text-align:center;
    color:#efefef;
}
header nav .sub li a:hover{
    text-decoration:underline;
    color:#faa21a;
}
/*주메뉴에 마우스 오버했을 때 서브메뉴 보임*/
header nav > ul > li:hover .sub{
    display:block;
}
header .right_area{
    float:right;
    margin-top:5px;
}
header .right_area ul li {
    width:30px;
    float: left;
    margin:7px;
    }
/*슬라이드*/
section.slide{
    width:100%;
    height:780px;
    float:left;
    position:relative;
    /*.prev와 .next자식객체의 위치 기준이 slide임*/
}
section.slide ul{
    width:100%;
}
section.slide ul li{
    width:100%;
    height:780px;
    position:absolute;/*이미지겹침*/ 
}
section.delivery{
    width:100%;
    float: left;
    margin-top:100px; 
}
section.delivery h1{
    text-align:center;
    font-size:30px;
    color:#333;
}
section.delivery p{
    text-align:center;
    font-size:16px;
    margin-top:50px;
}
section.delivery ul{
    width:1280px;
    margin:0 auto;
    margin-top:80px;
}
section.delivery ul li{
    width:400px;
    margin-right:40px;
    float:left; 
}
section.delivery ul li:last-child{
    margin-right:0;
} 
/*section.delivery ul li .photo{
    width:400px;
    height:400px;
    background-color:#ffaf79;
    background-size:cover;
}->이미지뒤에 배경이 있을경우*/
section.new ul li p{
    width:400px;
    height:50px;
    background-color:#fff;
    text-align:center;
    font-size:14px;
    line-height:50px;
    margin-top:0; 
}

/*product*/
section.product{
    width:100%;
    float:left;
    margin-top:100px;
}
section.product h1{
    text-align:center;
    font-size:30px; 
}
section.product p{
    text-align:center;
    font-size:16px;
    margin-top:50px; 
}
section.product ul{
    width:1280px;
    margin:0 auto;
    margin-top:80px; 
}
section.product ul li{
    float:left;
    width:305px;
    height:382px;
    margin-right:20px; 
}
/*4,8,12번째 li의 오른쪽 여백 0*/
section.product ul li:nth-child(4n){
    margin-right:0;   
}
section.product ul li .product_li{
    position:relative;
    width:100%;
    height:302px;
}
section.product ul li .product_li div{
    position:absolute;
}
section.product ul li .product_li .front{
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.3);
    display:none; 
}
section.product ul li > p{
    margin:20px;
    font-size:16px; 
}
/*li영역에 마우스 오버했을 때 .front 보임*/
section.product ul li:hover .front{
    display:block;
}
/*영상*/
section.movie{
    width:100%;
    float:left;
    margin-top:100px; 
}
section.movie h1{
    text-align:center;
    font-size:30px;
}
section.movie p{
    text-align:center;
    font-size:16px;
    margin-top:50px; 
}
section.movie .movie_in{
    width:1280px;
    margin:0 auto;
    margin-top:80px; 
}
section.movie .movie_in iframe{
    width:100%;
}

/*STORE*/
section.store{
    width:100%;
    float:left;
    margin-top:100px;
    position:relative;
    background-color:#ffaf79;
}
/*.service 안의 .fixed_bg 배경 고정*/
section.store .fixed_bg{
    position:absolute;
    width:100%;
    height:400px;
    background-image:url(https://ppl159.github.io/cheese/img/cheeseslidebg.jpg);
    background-attachment:fixed;
    z-index:1;  /*뒤쪽으로 순서 변경*/
}
section.store h1{
    text-align:center;
    margin-top:100px;
    font-size:30px;
    z-index:10;
    position:relative;
    /*z-index와 position 같이 사용*/
}
section.store .store_in{
    width:1280px;
    margin:0 auto;
    margin-top:80px;
    position:relative;
    z-index:15; 
}
section.store .store_in div{
    width:50%;
    height:400px;
    float:left; 
    padding:50px;
    box-sizing:border-box;
}
section.store .store_in .left_s{
    background-image:url(https://ppl159.github.io/cheese/img/cheesepattern.png);
     
}

section.store .store_in .right_s{
    background-color:#fff1dd;
    padding:70px; 
}
section.store .store_in .right_s h2{
    width:130px;
    height:40px;
    border-radius:30px;
    margin-bottom:30px;
    font-size:20px;
    line-height:40px; 
    color:#fff;
    background-color: #febaba;
    border:2px solid #fe7a7a;
    text-align: center;
    float:left;
    margin-right:20px;
}
section.store .store_in .right_s div{
    width:100%;
    height:100px;
    text-align:center;
    font-size:18px;
    padding-right:5px;
    padding-left:5px;
    margin-bottom:20px; 
}

/*INSTAGRAM*/
section.instagram{
    width:100%;
    float:left;
    padding-top:100px;
    background-color:#ffaf79; 
}
section.instagram h1{
    text-align:center;
    font-size:30px;   
}
section.instagram .instagram_in{
    width:1280px;
    margin:0 auto;
    margin-top:80px; 
}
section.instagram .instagram_in ul li{
    width:213px;
    height:214px;
    float:left;
    margin-bottom:200px; 
}
footer{
    width:100%;
    float:left;
    padding-top:80px;
    border-top:1px solid #333;
}
footer .footer_in{
    width:800px;
    height:230px;
    margin:0 auto;
    padding-bottom:100px; 
}
footer .footer_in .info p{
    margin:10px;
    font-size:15px;  
}

footer .footer_in .info{
    float:left;
    text-align:center;
}
footer .footer_in .info .title{
    margin:20px;
    font-weight:bold;
    font-size:20px; 
}
footer .footer_in .cs .title2{
    margin:20px; 
    font-weight:bold;
    font-size:20px; 
}
footer .footer_in .cs{
    float:right;
    text-align:center;
}
footer .footer_in .cs p{
    margin:10px; 
    font-size:15px;
}
footer .footer_in .cs .hp{
    font-size:35px;
    margin-bottom:20px; 
}

footer .site_map{
    clear:both;
    width:1920px;      
    margin:0 auto;
    border-top:1px solid #333; 
}
footer .site_map ul{
    width:380px;
    margin:0 auto;
     
}
footer .site_map ul li{
    color:#333;
    font-size:12.5px; 
    float:left;
    margin:20px;
    border:10px solid #fff8f8;
    border-radius:30px; 
    background-color:#fff8f8;
    margin-top: 20px;     
}
